<form action="/users/new" method="get">
    <h1>Sign Up</h1>

    <label for="name">Name:</label>
    <input type="text" id="name" name="user_name">

    <label for="password">Password:</label>
    <input type="password" id="password" name="user_password">

    <button type="submit">Sign Up</button>
</form>