<!-- templates/layout.tmpl -->
<html>
  <head>
    <title>Hackaton!</title>
      <link rel="stylesheet" href="/bootstrap/dist/css/bootstrap.min.css"/>
  </head>
  <body>
    <!-- Render the current template here -->
    {{ yield }}
  </body>
</html>