<!-- templates/layout.tmpl -->
<html>
  <head>
    <title>Martini Plz</title>
      <link rel="stylesheet" href="/public/bootstrap/dist/css/bootstrap.min.css"/>
  </head>
  <body>
    <!-- Render the current template here -->
    {{ yield }}
  </body>
</html>